<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieWeb</title>
    <link rel="stylesheet" href="\css\index.css" />
    <script>
      // Espera a que la página se cargue
      window.addEventListener("DOMContentLoaded", (event) => {
        const navbar = document.querySelector(".navbar");

        // Escucha el evento de scroll en la ventana
        window.addEventListener("scroll", () => {
          // Si el scroll vertical es mayor a 50 píxeles...
          if (window.scrollY > 50) {
            // ...añade la clase 'visible' a la navbar para mostrarla
            navbar.classList.add("visible");
          } else {
            // ...si no, quita la clase para ocultarla
            navbar.classList.remove("visible");
          }
        });
      });
    </script>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <a href="/" class="nav-brand">The Movies</a>
        <div class="nav-filters">
          <a href="/buscar/Action">Acción</a>
          <a href="/buscar/Comedy">Comedia</a>
          <a href="/buscar/Drama">Drama</a>
          <a href="/buscar/Horror">Terror</a>
        </div>
        <form class="nav-search" action="/buscar" method="GET">
          <input type="text" name="q" placeholder="Buscar películas..." />
          <button type="submit">Buscar</button>
        </form>
      </div>
    </nav>

    <header class="hero">
      <div class="hero-content">
        <h1>The Movies</h1>
        <form action="/buscar" method="GET">
          <input
            type="text"
            name="q"
            placeholder="Encuentra tu próxima película favorita..."
          />
          <button type="submit">Buscar</button>
        </form>
      </div>
    </header>

    <main class="content-placeholder">
      <h2>Películas Populares</h2>
      <p>
        El contenido de la página, como los resultados de búsqueda o las listas
        de películas, aparecería aquí abajo.
      </p>
    </main>

    <script src="script.js"></script>
  </body>
</html>
